# ===== App =====
APP_NAME="Typing Course"
APP_URL="https://typing.fadlur.com"
APP_ENV=production
APP_PORT=3200
# Ganti dengan string acak panjang (mis. `openssl rand -hex 32`)
SECRET_KEY="ganti-ini-secret-acak-64-char-aaa"
COOKIE_SECURE=true

# ===== Database (PostgreSQL) =====
POSTGRES_USER=olshop
POSTGRES_PASSWORD=ganti-ini-password-postgres
POSTGRES_DB=typing_course

# ===== Admin bootstrap =====
ADMIN_EMAIL=admin@typing.test
ADMIN_PASSWORD=ganti-ini-password-admin
